<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310927244369-tvmuescq38a8p3u832sggn1c7mv7urfs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310927244369-tvmuescq38a8p3u832sggn1c7mv7urfs</string>
	<key>API_KEY</key>
	<string>AIzaSyCkXVdc0GvPyhYREuFjTX6UI5eUPoTD3uI</string>
	<key>GCM_SENDER_ID</key>
	<string>310927244369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>anhnt706.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-3153a</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-3153a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:310927244369:ios:6c93a0f42b1535abb58c70</string>
</dict>
</plist>
